Pour lancer le jeux il faut disposer :
	
	- d'un pc avec Windows 
	- de python 
	- des modules suivants :

 		- pygame 
 		- sys
 		- screeninfo
		 -os

Vous pouvez les installer via l'interpréter python en utilisant la commande pip install nom_module